*{

    margin: 0;
    padding: 0;
   
    background-size: cover; 
    /* height: 50px;
    width: 50px; */
}
.link{

    color: lime;
}
.about{

    color:lime;
    font-size: larger;

}
.cantact{

    /* color:rgb(101, 111, 252); */
    color: lime;
    font-size: larger;

}
.more{

    /* color:rgb(101, 111, 252); */
    color: lime;
    font-size: larger;
}
.body{

    background-image: url(img/green-code.jpg); 

}

.bg{
    
    font-family: 'Times New Roman', Times, serif;
    color: red;
    height: 20vh;
}
.bg2{

    font-family: 'Quintessential', cursive;
    /* height:"device-height"; */
 
    
    height: 50vh;
    color: red;
}
.head{
    display: inline;

    text-decoration: none;
}
.ul{
    padding: 10px;
    text-decoration: none;
}
.a1{
    padding: 2px;
    display: inline-block;

}
.li{     
    color: antiquewhite;
    text-decoration: none;
   
}
 header{
     
    background-color: green;
    height: 50px;
    color: red; 
}

.footer{
    align-content: center;
    text-align:center;
    color: rgb(0, 195, 255);
}
